NeuroML2a
*.svg
umac
NEURON/*/*.dat
NEURON/*.dat
NeuroML2/*.dat
cn*.dat
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedNeuroML2
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*~
arm64
